# ignore node modules
node_modules

# ignore test tracking data files
/server/database
# ignore server node_modules
/server/node_modules

# ignore flowchart generate command
flowchart

# ignore .vscode config
.vscode

# ignore .json folder
.json

# ignore typing files
types