# ignore vsix
*.vsix

# ignore generated i18n files
package.nls.json
package.nls.*.json

# ignore docs
docs

# ignore .vscode config
.vscode

# ignore vscode ts file
lib/vscode.d.ts

# ignore TODO file
TODO.md

# ignore database folder
database

# ignore log files
/npm-debug.log*
