# ".vscode" would not match xx/xx/.vscode
.vscode/**

lib/vscode.d.ts/*.d.ts

docs/**
test/**

TODO.md

database

npm-debug.log*
.eslintrc.json

DEBUG_SIGN_FILE

# any archives
*.7z
*.zip
*.tgz
*.tar
*.vsix
